<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white text-lg font-bold" href="/">New_EchoSphere</a>
    <div>
      <ul class="flex space-x-4">
        <% if (typeof session.userId !== 'undefined') { %>
          <li>
            <a class="text-gray-300 hover:text-white" href="/">Home</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/subSpheresList">SubSpheres</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/profile">Profile</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/createPost">Create Post</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/messages">Messages</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/notifications">Notifications</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/auth/logout">Logout</a>
          </li>
        <% } else { %>
          <li>
            <a class="text-gray-300 hover:text-white" href="/">Home</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/auth/login">Login</a>
          </li>
          <li>
            <a class="text-gray-300 hover:text-white" href="/auth/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>