<head>
  <meta charset="UTF-8">
  <title>New_EchoSphere</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const theme = '<%= theme %>';
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
        console.log('Dark theme activated.');
      } else {
        document.documentElement.classList.remove('dark');
        console.log('Light theme activated.');
      }
    });
  </script>
</head>