<!DOCTYPE html>
<html lang="en" class="<%= theme === 'dark' ? 'dark' : '' %>">
<%- include('partials/_head.ejs') %>
  <body class="bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white">
<%- include('partials/_header.ejs') %>
    <main role="main" class="max-w-4xl mx-auto mt-4">
      <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-900 dark:text-white">New_EchoSphere</h1>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</html>